/*--------------------- Google fonts ------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: RobotoFlex;
    src: url(font/RobotoFlex.ttf);
}

.input-field {
    position: fixed;
    opacity: 0;
    z-index: -1;
}

.accordion-wrapper {
    border-radius: 8px;
    overflow: hidden;
    width: 1128px;
    margin: 0 auto;
}

.accordion-wrapper-new {
    border-radius: 8px;
    overflow: hidden;
    width: 340px;
    margin: 0 auto;
}

.accordion {
    width: 100%;
    overflow: hidden;
    margin-bottom: 16px;
}

.accordion:last-child {
    margin-bottom: 0;
}

.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #f5f4f9;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
    transition: all .3s ease-in-out;
    padding: 30px;
    font-family: RobotoFlex;
    border-radius: 20px;
    font-weight: 400;
}

.accordion-label:hover {
    background: #f2f0f8;
    transition: all .3s ease-in-out;
}

.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s ease-in-out;
    transform-origin: right center;
    -webkit-transform: rotate(0deg);
    transform: rotate(90deg);
}

.accordion-content {
    max-height: 0;
    padding: 0 16px;
    background-color: #ddf0fe;
    -webkit-transition: all 0.3s;
    transition: all 0.3s ease-in-out;
    border-radius: 0px 0px 40px 40px;
}

.accordion-content p {
    margin: 0;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    font-family: "Inter", sans-serif;
}

.input-field:checked+.accordion-label {
    transform-origin: center;
    background: #ddf0fe;
    border-radius: 40px 40px 0px 0px;
    transition: all 0.3s ease-in-out;
}

.input-field:checked+.accordion-label::after {
    transform-origin: center;
    -webkit-transform: rotate(0deg);
    transform: rotate(-90deg);
    transition: all 0.3s ease-in-out;
}

.input-field:checked~.accordion-content {
    max-height: 50vh;
    padding: 0 40px 40px 30px;
    transition: all 0.3s ease-in-out;
}

.accordion {
    display: none;
}

.accordion:nth-child(-n+7) {
    display: block;
}

.see-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    font-family: RobotoFlex;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    .accordion-wrapper {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
        margin: 0 auto;
    }
}